<h1> List of sources </h1>
<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
  </tr>

  <% @sources.each do |source| %>
    <tr>
      <td><%= source.name %></td>
      <td><%= source.url %></td>
      <td><%= button_to 'Delete source', admin_source_path(source), method: :delete %></td>
      <td><%= link_to 'Add category page', new_admin_category_page_path(source_id: source.id) %></td>
    </tr>
  <% end %>

</table>

<%= link_to 'Add a source', new_admin_source_path %>
